@charset "utf-8";
/* CSS Document */
.reg_div{
	width: 320px;
    margin: auto; 
	}
.submit_btn{
	display: block;
	width: 100px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	border: 1px #006600 solid; 
	text-align: center;	
	border-radius: 3px;
	background:#090;
	color:#FFF;
	float: right;
	margin: 10px 15px 0 0;
	}
.submit_btn:hover{
	background: #0C3;
	cursor: pointer;
	
	}	
label{
	display: inline-block;
	text-align: right;
	width: 90px;
	padding-right:10px;
	height: 28px;
	}
	
input{
	width: 200px;
	height: 28px;
	border: #06F 1px solid;
	border-radius: 3px;
	margin: 5px 0 5px 0;
	
	}
.h_title{
	text-align:center;
	}
.h_hr{
	height:2px;
	background:#0CF;
	margin-bottom: 15px;
	}